rand_outputs/
test_outputs/
log_dir/
__pycache__/
trained_models/
old_tfboard/
ae_log_dir/
ae_test_outputs/
ae_trained_models/
da_log_dir/
da_test_outputs/
da_rand_outputs/
da_trained_models/
edge_log_dir/
edge_test_outputs/
edge_rand_outputs/
edge_trained_models/
