rand_outputs/
test_outputs/
log_dir/
__pycache__/
trained_models/
old_tfboard/
ae_log_dir/
ae_test_outputs/
ae_trained_models/
da_log_dir/
da_test_outputs/
da_rand_outputs/
da_trained_models/
edge_log_dir/
edge_test_outputs/
edge_rand_outputs/
edge_trained_models/
edge_gan_test_output_images/
edge_gan_test_outputs/
edge_gan_rand_outputs/
edge_gan_trained_models/
edge_gan_test_output_images/
edge_gan_log_dir/
edge_test_output_images/
demo*

edge_cgan_test_outputs/
edge_cgan_rand_outputs/
edge_cgan_trained_models/
edge_cgan_test_output_images/
edge_cgan_log_dir/
cgan_demo2/

single_demo/
t_images/
